@charset "utf-8";
/*共通*/
html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:  Noto Sans Armenian,Hiragino Kaku Gothic Pro,sans-serif;
    letter-spacing: 0.05em;
    width: 100%;
    height: 100%;
    color: #404040;
    background-color: #fff;
}

ul,li {
    margin:0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    max-width: 390px;
    vertical-align: bottom;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 0.5rem;
}

/*header*/
header {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 2;
    background-color: #fff;
}

.header_container {
    display: flex;
    justify-content: space-between;
}

.header_title img {
    height: 40px;
    padding: 5px;
}

/*mainvisual-slider*/
.slider {
    position:relative;
    z-index: 1;
    height: 100vh;
}

.slider-item01 {
    background:url(../images/画像10.jpeg);
}
/*
.slider-item02 {
    background:url(../images/画像08.jpeg);
}

.slider-item03 {
    background:url(../images/画像03.jpeg);
}

.slider-item04 {
    background:url(../images/画像22.jpeg);
}
.slider-item {
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slick-dots {
    position: relative;
    z-index: 3;
    text-align:center;
    margin:-50px 0 0 0;
}
  
.slick-dots li {
    display:inline-block;
    margin:0 5px;
}
  
.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:#B5E3F7;
}
  
.slick-dots .slick-active button{
    background:#009DE2;
}

*/


/*mainvisual-text*/
.mv-title {
    position: absolute;
    z-index: 2;
    top: 50%;
    text-transform: uppercase;
}

.marker {
    background: linear-gradient(transparent 50%, #009DE2 70%);
}

.mv-title-text {
    position: relative;
    padding: 5px;
    background: #77c3df;
    font-size: 24px;
    color: white;
    margin-right: -33px;
    line-height: 1.3;
    z-index:-1;
}

.mv-title-text:first-child {
    margin-bottom: 2%;
}
  
.mv-title-text::after {
    position: absolute;
    content: '';
    right: -2px;
    top: -2px;
    border: none;
    border-right: solid 60px white;
    border-top: solid 45px transparent;
    z-index:-2
}

.mv-title-text2 {
    position: relative;
    padding: 5px;
    background: #77c3df;
    font-size: 24px;
    color: white;
    margin-right: -33px;
    line-height: 1.3;
    z-index:-1;
}
  
.mv-title-text2::after {
    position: absolute;
    content: '';
    right: -2px;
    top: -2px;
    border: none;
    border-right: solid 60px white;
    border-top: solid 45px transparent;
    z-index:-2
}


/*mv-btn*/
.m-cta_btn {
    color: #404040;
    background-color: #FCBB59;
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    font-size: 14px;
}

.m-cta_btn:hover {
    color: #fff;
    background: #ffa011;
}

.m-cta_btn-shadow {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/*各セクションタイトル*/
.title {
    text-align: center;
}

.m-title-en {
    color: #009DE2;
    font-size: 40px;
    margin-top: 72px;
}

.m-title-jp {
    color: #009DE2;
    font-size: 18px;
    margin-bottom: 24px;
}

/*concept*/
.concept-container {
    position: relative;
    z-index: 1;
}

.concept-img {
    height: 390px;
    object-fit: cover;
}

.ractangle {
    height: 370px;
    background-color: #E9EBEC;
}

.concept-conent-wrap {
    background-color: #FFFFFB;
    padding: 32px 10px 40px 10px;
    position: absolute;
    top: 49%;
    left: 1%;
    z-index: 2;
}

.concept-heading {
    margin-bottom: 32px;
}

.concept-text {
    font-size: 16px;
    line-height: 1.8;
}

/*point*/
.point-list img {
    height: 390px;
    object-fit: cover;
}

.point-title {
    font-size: 23px;
    line-height: 1.5;
    padding: 16px 0 5px 0;
}

.point-text {
    position: relative;
    padding: 16px 20px 40px 20px;
    line-height: 1.8;
}

.point-number,.point-title {
    color: #009DE2;
}

.point-number {
    text-decoration: underline;
}

/*price*/
.cta-contents img {
    object-fit: cover;
}

.cta-container {
    background-color: #E5F5FC;
    padding: 25px 20px 48px 20px;
}

.cta-text {
    font-size: 1rem;
    line-height: 1.8;
    text-align: center;
}

.dot-text {
    padding-top: .2em;
    background-position: top left -2px;
    background-repeat: repeat-x;
    background-size: 1em .3em;
    background-image: radial-gradient(.15em .15em at center center,#009DE2,#009DE2 100%,transparent);
    font-size: 2.3rem;
    color: #FCBB59;
}

.cta-contents-text {
    background-color: #fff;
    border: solid 1px #009DE2;
    border-radius: 10px 10px 0px 0px;
    padding: 24px 10px 18px 10px;
    text-align: center;
}

.cta-contents-text h3 {
    font-size: 1.5rem;
}

.cta-contents-text span {
    font-size: 2.3rem;
    color: #009DE2;
    margin-bottom: 14px;
}

.cta-contents-text p {
    font-size: 1rem;
    line-height: 1.3;
}

.cta-contents-img img {
    border-radius: 0px 0px 10px 10px;
}

.cta-btn,.cta-btn a {
  color: #fff;
  background-color: #FCBB59;
}

.cta-btn:hover,
.cta-btn a:hover {
    color: #fff;
    background-color: #ffa011;
}

/*gallery*/
.gallery-contents {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 0 16px 0 16px;
}

.gallery-contents img {
    width: 166px;
    height: 166px;
    object-fit: cover;
    padding-bottom: 14px;
}

/*access*/
.access-text {
    margin: 0 72px 0 72px;
}

.access-map iframe {
    width: 100%;
    aspect-ratio: 16/9;
}


/*contact*/
.contact-btn-mail {
    font-size: 1.8rem;
    position: relative;
    padding: 1.5rem;
    border-radius: 100vh;
    color: #009DE2;
    border: 2px solid #009DE2;
    background-color: #fff;
}


.contact-btn-LINE {
    font-size: 1.8rem;
    position: relative;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 100vh;
    color: #fff;
    border: 2px #06c755;
    background: #06C755;
} 

.contact-btn-container {
    width: 100%;
}

.arrow-right {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 1em;
    height: 0.1em;
    background: currentColor;
}
  
.arrow-right::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    position: absolute;
    top: 50%;
    right: -0.05em;
    box-sizing: border-box;
}